body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1245px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:424px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1327 {
  position:absolute;
  left:21px;
  top:71px;
  width:193px;
  height:424px;
}
#u1328 {
  position:absolute;
  left:2px;
  top:204px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1224px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1329 {
  position:absolute;
  left:21px;
  top:17px;
  width:1224px;
  height:55px;
}
#u1330 {
  position:absolute;
  left:2px;
  top:20px;
  width:1220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1331 {
  position:absolute;
  left:21px;
  top:17px;
  width:193px;
  height:55px;
  font-size:28px;
}
#u1332 {
  position:absolute;
  left:2px;
  top:12px;
  width:189px;
  word-wrap:break-word;
}
#u1333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u1333 {
  position:absolute;
  left:1208px;
  top:32px;
  width:20px;
  height:25px;
}
#u1334 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1335 {
  position:absolute;
  left:21px;
  top:71px;
  width:193px;
  height:160px;
}
#u1335_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:199px;
  height:166px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1336 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:165px;
}
#u1337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
}
#u1337 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1338 {
  position:absolute;
  left:2px;
  top:8px;
  width:189px;
  word-wrap:break-word;
}
#u1339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1339 {
  position:absolute;
  left:0px;
  top:40px;
  width:193px;
  height:30px;
  color:#169BD5;
}
#u1340 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u1341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1341 {
  position:absolute;
  left:0px;
  top:70px;
  width:193px;
  height:30px;
  color:#169BD5;
}
#u1342 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u1343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1343 {
  position:absolute;
  left:0px;
  top:100px;
  width:193px;
  height:30px;
  color:#169BD5;
}
#u1344 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u1345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1345 {
  position:absolute;
  left:0px;
  top:130px;
  width:193px;
  height:30px;
  color:#169BD5;
}
#u1346 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u1347 {
  position:absolute;
  left:21px;
  top:229px;
  width:193px;
  height:130px;
}
#u1347_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:199px;
  height:136px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1348 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:135px;
}
#u1349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
}
#u1349 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1350 {
  position:absolute;
  left:2px;
  top:8px;
  width:189px;
  word-wrap:break-word;
}
#u1351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1351 {
  position:absolute;
  left:0px;
  top:40px;
  width:193px;
  height:30px;
  color:#169BD5;
}
#u1352 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u1353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1353 {
  position:absolute;
  left:0px;
  top:70px;
  width:193px;
  height:30px;
  color:#169BD5;
}
#u1354 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u1355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1355 {
  position:absolute;
  left:0px;
  top:100px;
  width:193px;
  height:30px;
  color:#169BD5;
}
#u1356 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u1357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1357 {
  position:absolute;
  left:32px;
  top:26px;
  width:40px;
  height:40px;
}
#u1358 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1359 {
  position:absolute;
  left:21px;
  top:358px;
  width:193px;
  height:100px;
}
#u1359_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:199px;
  height:106px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1360 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:105px;
}
#u1361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
}
#u1361 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1362 {
  position:absolute;
  left:2px;
  top:8px;
  width:189px;
  word-wrap:break-word;
}
#u1363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1363 {
  position:absolute;
  left:0px;
  top:40px;
  width:193px;
  height:30px;
  color:#169BD5;
}
#u1364 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u1365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1365 {
  position:absolute;
  left:0px;
  top:70px;
  width:193px;
  height:30px;
  color:#169BD5;
}
#u1366 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u1367 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1368 {
  position:absolute;
  left:213px;
  top:71px;
  width:1032px;
  height:41px;
}
#u1369 {
  position:absolute;
  left:2px;
  top:12px;
  width:1028px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1370 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u1371 {
  position:absolute;
  left:219px;
  top:83px;
  width:72px;
  height:20px;
  color:#333333;
}
#u1372 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u1373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1373 {
  position:absolute;
  left:298px;
  top:84px;
  width:18px;
  height:17px;
}
#u1374 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u1375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u1375 {
  position:absolute;
  left:319px;
  top:83px;
  width:98px;
  height:20px;
  color:#333333;
}
#u1376 {
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  white-space:nowrap;
}
#u1377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:378px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1377 {
  position:absolute;
  left:219px;
  top:117px;
  width:1026px;
  height:378px;
}
#u1378 {
  position:absolute;
  left:2px;
  top:181px;
  width:1022px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1379 {
  position:absolute;
  left:634px;
  top:420px;
  width:197px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1380 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u1381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1381 {
  position:absolute;
  left:234px;
  top:159px;
  width:43px;
  height:17px;
}
#u1382 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1383 {
  position:absolute;
  left:234px;
  top:186px;
  width:259px;
  height:33px;
}
#u1384 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  white-space:nowrap;
}
#u1385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1385 {
  position:absolute;
  left:234px;
  top:234px;
  width:233px;
  height:33px;
}
#u1386 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u1387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:578px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1387 {
  position:absolute;
  left:234px;
  top:544px;
  width:317px;
  height:578px;
}
#u1388 {
  position:absolute;
  left:2px;
  top:281px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1389 {
  position:absolute;
  left:234px;
  top:544px;
  width:317px;
  height:38px;
  text-align:left;
}
#u1390 {
  position:absolute;
  left:2px;
  top:11px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1391 {
  position:absolute;
  left:351px;
  top:554px;
  width:85px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1392 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1393 {
  position:absolute;
  left:344px;
  top:1140px;
  width:85px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1394 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1395 {
  position:absolute;
  left:274px;
  top:764px;
  width:225px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1396 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u1397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u1397 {
  position:absolute;
  left:270px;
  top:832px;
  width:246px;
  height:20px;
  color:#333333;
}
#u1398 {
  position:absolute;
  left:2px;
  top:2px;
  width:242px;
  word-wrap:break-word;
}
#u1399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:47px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1399 {
  position:absolute;
  left:331px;
  top:949px;
  width:111px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1400 {
  position:absolute;
  left:2px;
  top:12px;
  width:107px;
  word-wrap:break-word;
}
#u1401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u1401 {
  position:absolute;
  left:280px;
  top:879px;
  width:227px;
  height:20px;
  color:#333333;
}
#u1402 {
  position:absolute;
  left:2px;
  top:2px;
  width:223px;
  word-wrap:break-word;
}
#u1403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:152px;
}
#u1403 {
  position:absolute;
  left:236px;
  top:582px;
  width:314px;
  height:152px;
}
#u1404 {
  position:absolute;
  left:2px;
  top:68px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:578px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1405 {
  position:absolute;
  left:621px;
  top:544px;
  width:317px;
  height:578px;
}
#u1406 {
  position:absolute;
  left:2px;
  top:281px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1407 {
  position:absolute;
  left:621px;
  top:544px;
  width:317px;
  height:38px;
  text-align:left;
}
#u1408 {
  position:absolute;
  left:2px;
  top:11px;
  width:313px;
  word-wrap:break-word;
}
#u1409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1409 {
  position:absolute;
  left:738px;
  top:554px;
  width:85px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1410 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1411 {
  position:absolute;
  left:723px;
  top:1140px;
  width:113px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1412 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1413 {
  position:absolute;
  left:707px;
  top:614px;
  width:145px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1414 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1415 {
  position:absolute;
  left:732px;
  top:972px;
  width:101px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1416 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u1417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
}
#u1417 {
  position:absolute;
  left:658px;
  top:718px;
  width:95px;
  height:21px;
  font-size:14px;
  color:#333333;
}
#u1418 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u1419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
}
#u1419 {
  position:absolute;
  left:663px;
  top:811px;
  width:238px;
  height:21px;
  font-size:14px;
  color:#333333;
}
#u1420 {
  position:absolute;
  left:2px;
  top:2px;
  width:234px;
  word-wrap:break-word;
}
#u1421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
}
#u1421 {
  position:absolute;
  left:666px;
  top:842px;
  width:134px;
  height:21px;
  font-size:14px;
  color:#333333;
}
#u1422 {
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  word-wrap:break-word;
}
#u1423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
}
#u1423 {
  position:absolute;
  left:663px;
  top:749px;
  width:71px;
  height:21px;
  font-size:14px;
  color:#333333;
}
#u1424 {
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  word-wrap:break-word;
}
#u1425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u1425 {
  position:absolute;
  left:704px;
  top:657px;
  width:153px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u1426 {
  position:absolute;
  left:2px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u1427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
}
#u1427 {
  position:absolute;
  left:663px;
  top:780px;
  width:110px;
  height:21px;
  font-size:14px;
  color:#333333;
}
#u1428 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u1429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1429 {
  position:absolute;
  left:732px;
  top:901px;
  width:30px;
  height:30px;
}
#u1430 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#00CC00;
}
#u1431 {
  position:absolute;
  left:772px;
  top:905px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#00CC00;
}
#u1432 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1433 {
  position:absolute;
  left:442px;
  top:973px;
  width:0px;
  height:0px;
}
#u1433_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:183px;
  height:8px;
}
#u1433_seg1 {
  position:absolute;
  left:175px;
  top:-6px;
  width:8px;
  height:10px;
}
#u1434 {
  position:absolute;
  left:42px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:251px;
}
#u1435 {
  position:absolute;
  left:597px;
  top:139px;
  width:264px;
  height:251px;
}
#u1436 {
  position:absolute;
  left:2px;
  top:118px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
